        </section>

        <aside id="sidebar" style="font-size:15px">
                
              <p >This website is a set of links, maps, tools, and more for the residents of Trinidad. Please add to it!</p>
                
              <h2>
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/community-spaces">Commmunity Spaces</a></li>
                <li><a href="/businesses">Businesses</a></li>
                <li><a href="/community-organizing">Community Organizing</a></li>
                <li><a href="/feedback">Feedback?</a></li>
                <li><a href="mailto:trinidad-dc@googlegroups.com">Email Us</a></li>
                <li>{% include prose_edit_url.html %}</li>
                </ul>
                
              </h2>
                
        </aside>
      </div>
    </div>

  
  </body>
</html>
